/*
#FAE6CA Brown L
#DDC9AC Brown M
#87796F Brown D
#D7E057 Green
#EF6D7A Pink
*/



html, body {
    margin: 0;
    padding: 0;

    font-family: 'Rubik', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    padding: 3em;
    max-width: 320px;
    background-color: #FAE6CA;
    border: 5px solid #87796F;
    border-radius: 50px;
}

input,
button {
    outline: none;
    font-family: 'Rubik', sans-serif;
    font-size: 1.25em;
    border: none;
    border-radius: 0.5em;
    text-align: center;
    margin-top: 1em;
    padding: 1em;
    border: 3px solid #DDC9AC;
    
}
button:hover{
    transition-duration: 0.2s;
    border-color: #87796F;
}
button:active{
    background-color: #87796F;
    border-color: #EF6D7A;
    transform: translateY(1px);
}


input {
    color: #87796F;
    background-color: #D7E057
}

input::placeholder{
    color: #FAE6CA;
}

input:active, 
input:focus{
    border-color: #87796F;
    color: #87796F;
    font-weight: bold;
}

button {
    color: #FAE6CA;
    background-color: #EF6D7A
}

img{
    width: 50%;
    margin: auto;
    margin-bottom: 2em;
}